<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Gestão de Estoque</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/style.css">
	</head>
	<body>

		<!-- CABEÇALHO -->
		<header class="header">

			<div class="logo">GESTÃO DE ESTOQUE </div>

			<div class="box">
				<div style="width: 350px; height: 50px; float: left; text-align: center; padding-top: 13px;">
					{{mensagem}}
				</div>

				<div class="welcome_exit">
					<div class="exit"><a href="/"><img src="/static/imagens/icons/exit.png" alt="Sair" title="Sair"></a></div>
				</div>
			</div>

		</header>

		<div class="safe_nav_conteudo">

			<!-- MENU DE NAVEGAÇÃO LATERAL -->
			<nav class="nav">

				<!-- PRODUTOS -->
				<ul style="margin-bottom: 0px;">
					<a href="/produtos_lista">
						<li>
							<div style="width: 100%; height: 25px; padding-left: 18px;">
								<!-- <div style="margin-right: 10px; float: left;"><img src="/static/imagens/icons/produto.png"></div> -->
								<div style="margin-top: 2px; float: left;">Produtos</div>
							</div>
						</li>
					</a>
				</ul>

				<!-- ESTOQUE -->
				<ul style="margin-bottom: 0px;">
					<a href="/estoque_lista">
						<li>
							<div style="width: 100%; height: 25px; padding-left: 18px;">
								<!-- <div style="margin-right: 10px; float: left;"><img src="/static/imagens/icons/produto.png"></div> -->
								<div style="margin-top: 2px; float: left;">Estoque</div>
							</div>
						</li>
					</a>
				</ul>

				<!-- CARRINHO -->
				<ul style="margin-bottom: 0px;">
					<a href="/carrinho">
						<li id='divcar'>
							<div style="width: 100%; height: 25px; padding-left: 18px;">
								<!-- <div style="margin-right: 10px; float: left;"><img src="/static/imagens/icons/produto.png"></div> -->
								<div style="margin-top: 2px; float: left;" >Carrinho</div>
							</div>
						</li>
					</a>
				</ul>

				<!-- CADASTRAR PRODUTOS -->
				<ul style="margin-bottom: 0px;">
					<a href="/produto">
						<li class="active">
							<div style="width: 100%; height: 25px; padding-left: 18px;">
								<!-- <div style="margin-right: 10px; float: left;"><img src="/static/imagens/icons/produto.png"></div> -->
								<div style="margin-top: 2px; float: left;">Cadastrar Produtos Base</div>
							</div>
						</li>
					</a>
				</ul>

				<!-- CADASTRAR PRODUTOS -->
				<ul style="margin-bottom: 0px;">
					<a href="/estoque">
						<li class="active">
							<div style="width: 100%; height: 25px; padding-left: 18px;">
								<!-- <div style="margin-right: 10px; float: left;"><img src="/static/imagens/icons/produto.png"></div> -->
								<div style="margin-top: 2px; float: left;">Cadastrar estoque</div>
							</div>
						</li>
					</a>
				</ul>

				<!-- USUÁRIOS CADASTRADOS -->
				<ul style="margin-bottom: 0px;">
					<a href="/listar_usuario">
						<li>
							<div style="width: 100%; height: 25px; padding-left: 18px;">
								<!-- <div style="margin-right: 10px; float: left;"><img src="/static/imagens/icons/produto.png"></div> -->
								<div style="margin-top: 2px; float: left;">Usuários Cadastrados</div>
							</div>
						</li>
					</a>
				</ul>
			</nav>

			<div class="container_conteudo">
                <div class="cadastra_produto">
		
					<!-- CARRINHO -->
					<h4>Carrinho</h4>

					<div class="lista_produto">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Produto</th>
									<th scope="col" style="text-align: left;">Descrição</th>
									<th scope="col" style="text-align: center;">Quantidade</th>
                                    <th scope="col" style="text-align: right;">Total</th>
                                    <th scope="col" style="text-align: center; color: white;">Opções</th>
								</tr>
							</thead>
							<tbody>
								{% for car in carrinho %}
								<tr>
									<td>{{car.nome_produto}}</td>
									<td id="descricao{{car.id}}" style="text-align: left;">{{car.descricao}}</td>
                                    <td style="text-align: center;">
									<input id="quantidade_{{car.id}}" onclick="mudaPrecoVisual('{{car.id}}','{{car.preco}}')" type="number" value="{{car.quantidade}}" min="1" max="{{car.maximo}}" step="1">
                                    </td>
									<td id="total{{car.id}}" style="text-align: right;" value='{{car.preco}}'>{{car.preco}}</td>
									<td style="text-align: center;">
										<a href="/retira_produto/{{car.id}}">
                                            <img src="/static/imagens/icons/delete.png" alt="Excluir produto" title="Excluir produto">
                                            <!--<img src="/static/imagens/icons/ok.png" alt="Fechar pedido" title="Fechar pedido">-->
										</a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						<h2 id='valorTotal'>R$ 00,00</h1>
						<button id='btn_pay' onclick='checkout_pay()'>Finalizar Pedido</button>
						<form action="/pagamento" method="POST">
							<input id='valor_python' name='teste' type='hidden' ></input>
							<script id='teste'></script>
							<!-- <script
							id='teste2' 
							  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
							  data-key="{{ pub_key }}"
							  data-amount=""
							  data-name="Gestão de Estoque"
							  data-description="Os melhores alimentos com você!"
							  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
							  data-locale="auto">
							</script> -->
						</form>

						
					</div>
				</div>
			</div>
		</div>
		
		<!-- SCRIPTS -->
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/mascaras.js"></script>
	</body>
</html>