<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Gestão de Estoque</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/style.css">
	</head>
	<body>

		<!-- CABEÇALHO -->
		<header class="header">

			<div class="logo">GESTÃO DE ESTOQUE </div>

			<div class="box">
				<div style="width: 350px; height: 50px; float: left; text-align: center; padding-top: 13px;">
					{{mensagem}}
				</div>

				<div class="welcome_exit">
					<div class="exit"><a href="/" ><img src="/static/imagens/icons/exit.png" alt="Sair" title="Sair"></a></div>
				</div>
			</div>

		</header>

		<div class="safe_nav_conteudo">

			<!-- MENU DE NAVEGAÇÃO LATERAL -->
			<nav class="nav">

				<!-- PaginaInicial -->
				<ul style="margin-bottom: 0px;">
					<a href="/home">
						<li class="active">
							<div style="width: 100%; height: 25px; padding-left: 18px;">
								<!-- <div style="margin-right: 10px; float: left;"><img src="/static/imagens/icons/produto.png"></div> -->
								<div style="margin-top: 2px; float: left;">Pagina Inicial</div>
							</div>
						</li>
					</a>
				</ul>

				<!-- PRODUTOS -->
				<ul style="margin-bottom: 0px;">
					<a href="/produtos_lista">
						<li>
							<div style="width: 100%; height: 25px; padding-left: 18px;">
								<!-- <div style="margin-right: 10px; float: left;"><img src="/static/imagens/icons/produto.png"></div> -->
								<div style="margin-top: 2px; float: left;">Produtos</div>
							</div>
						</li>
					</a>
				</ul>

				<!-- ESTOQUE -->
				<ul style="margin-bottom: 0px;">
					<a href="/estoque_lista">
						<li>
							<div style="width: 100%; height: 25px; padding-left: 18px;">
								<!-- <div style="margin-right: 10px; float: left;"><img src="/static/imagens/icons/produto.png"></div> -->
								<div style="margin-top: 2px; float: left;">Estoque</div>
							</div>
						</li>
					</a>
				</ul>


				<!-- CADASTRAR PRODUTOS -->
				<ul style="margin-bottom: 0px;">
					<a href="/produto">
						<li>
							<div style="width: 100%; height: 25px; padding-left: 18px;">
								<!-- <div style="margin-right: 10px; float: left;"><img src="/static/imagens/icons/produto.png"></div> -->
								<div style="margin-top: 2px; float: left;">Cadastrar Produtos Base</div>
							</div>
						</li>
					</a>
				</ul>

				<!-- CADASTRAR ESTOQUE -->
				<ul style="margin-bottom: 0px;">
					<a href="/estoque">
						<li>
							<div style="width: 100%; height: 25px; padding-left: 18px;">
								<!-- <div style="margin-right: 10px; float: left;"><img src="/static/imagens/icons/produto.png"></div> -->
								<div style="margin-top: 2px; float: left;">Cadastrar estoque</div>
							</div>
						</li>
					</a>
				</ul>
			</nav>

			<div class="container_conteudo">
                <div class="cadastra_produto">
		
					<!-- PRODUTOS -->
					<h4>Últimas compras</h4>

					<div class="lista_produto">
						<table class="table">
							<thead>
								<tr>
									<th scope="col" style="text-align: left;">Nome</th>
									<th scope="col" style="text-align: left;">Tipo</th>
									<th scope="col" style="text-align: left;">Cor</th>
									<th scope="col" style="text-align: left;">Quantidade</th>
									<th scope="col" style="text-align: left;">Unidade</th>
									<th scope="col" style="text-align: left;">Valor</th>
									<th scope="col" style="text-align: left;">Data Comprado</th>
								</tr>
							</thead>
							<tbody>
								{% for e in estoque %}
								<tr>
									<td style="text-align: left;">{{e.nome}}</td>
									<td style="text-align: left;">{{e.tipo}}</td>
									<td style="text-align: left;">{{e.cor}}</td>
									<td style="text-align: left;">{{e.estoque}}</td>
									<td style="text-align: left;">{{e.unidade}}</td>
									<td style="text-align: left;">{{e.valor}}</td>
									<td style="text-align: left;">{{e.dataCompra}}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<!-- SCRIPTS -->
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
	</body>
</html>